<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style2.css' >
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>


</head>
<body>

<div id="wrapper">
    <div class="overlay"></div>

    <% include templates/sidebar.ejs %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container-fluid">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <h1><%= title %></h1>

                <br>

                <h4>Please Select Database/Table</h4>
                <div class="row">
                    <div class="col-xs-3" >
                        <select class="selectpicker" data-live-search="true" id="DB_and_table" title="Choose one of the following">
                            <optgroup label="Heat_Wave">
                                <option value="WBGT">WBGT</option>
                                <option value="LASS_API">LASS_API</option>
                            </optgroup>
                            <optgroup label="data_2015">
                                <option value="weather">weather</option>
                            </optgroup>
                            <optgroup label="hackathon_DB">
                                <option value="Air_Q">Air_Q</option>
                            </optgroup>
                            <optgroup label="real_time_TP_grid_data">
                                <option value="air_labeld">air_labeld</option>
                                <option value="labled">labled</option>
                                <option value="unlabled">unlabled</option>
                            </optgroup>
                            <optgroup label="test">
                                <option value="air">air</option>
                                <option value="tw_weather">tw_weather</option>
                                <option value="weather">weather</option>
                            </optgroup>
                            <!--
                            <input type="button" value="submit" class="btn btn-info btn-lg" id="DB_and_table_button" onclick="DB_and_table_function()">
                            -->

                        </select>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-xs-3" id="deivce_or_not">
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-xs-3" id="select_device">
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-xs-6" id="select_time">
                    </div>
                </div>

                <br>

                <font size="5">
                <div class="row">
                    <div class="col-xs-3" id="output">
                    </div>
                </div>
                </font>

                <br>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <form id="data_query_form">
                    <div>
                        <textarea class="form-control" id="query_text" rows="3"></textarea>
                        <br>
                        <input type="submit" class="btn btn-info btn-lg">
                    </div>
                </form>

                <br><br>

                <font size="3"><div id="go"><p>Output: <br>This will be changed</p></div></font>
                <font size="5"><div id="jsonlink"><p>link here</p></div></font>
                <br><br><br>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<script type="text/javascript" src="../javascripts/test_template.js"></script>

<script>
    var database_value;
    var table_value;
    var device_or_not_value;
    var start_time;
    var end_time;


    var deivce_or_not_html = "<h4>Select Device</h4>" + "<select class='selectpicker' id='device_or_not' title=' '>" +
            "<option value='true'>YES</option>" +
            "<option value='false'>NO</option>" +
            "</select>" +
            "<!--<input type='button' value='submit' class='btn btn-info btn-lg' id='deivce_or_not_button' onclick='deivce_or_not_function()'>-->";


    $( "#DB_and_table" ).change(function()
        {
            function DB_and_table_function()
            {
                //        var val = document.getElementById("DB_and_table").value;
                //        console.log(val);
                $("#deivce_or_not").html("");
                $("#select_time").html("");
                setTimeout(function(){
                    $("#deivce_or_not").html(deivce_or_not_html).show() ;
                    $(".selectpicker").selectpicker();
                },200);
            };
            //        var val = document.getElementById("DB_and_table").value;
            //        console.log(val);
            $("#deivce_or_not").html("").show();
            $("#select_time").html("").show();
            $("#output").html("").show();
            setTimeout(function(){
                $("#deivce_or_not").html(deivce_or_not_html).show() ;
                $(".selectpicker").selectpicker();
            },200);

        }
    );

    $(document.body).delegate('#device_or_not', 'change', function()
        {
            function deivce_or_not_function()
            {
                database_value = $(':selected', document.getElementById("DB_and_table")).parent().attr('label');
                console.log("DB:",database_value);

                table_value = document.getElementById("DB_and_table").value;
                console.log("table:",table_value);

                device_or_not_value = document.getElementById("device_or_not").value;  // true or false
                console.log("device or not value:",device_or_not_value);
                device_or_not_value=false; // pass device list stage
                if(device_or_not_value)
                {
                    $.ajax
                    (
                            {
                                url: "/device_list",
                                type: "POST",
                                data:
                                {
                                    'database': database_value,
                                    'table': table_value,
                                },
                                success: function (data, textStatus, jqXHR)
                                {
                                    var device_list_html = "<h4>Select Device</h4>" + "<select class='selectpicker' id='device_or_not'>" +
                                            "<option value='true'>YES</option>" +
                                            "<option value='false'>NO</option>" +
                                            "</select>" +
                                            "<input type='button' value='submit' class='btn btn-info btn-lg' id='DB_and_table_button' onclick='deivce_or_not_function()'>";

                                    $("#select_device").html(device_list_html);
                                    $(".selectpicker").selectpicker();
                                }
                            }
                    );
                }
                else
                {
                    $("#select_time").html("<h4>Loading...</h4>");
                    $.ajax
                    (
                            {
                                url: "/inspect/time_points",
                                type: "POST",
                                data:
                                {
                                    'database': database_value,
                                    'table': table_value,
                                },
                                success: function (data, textStatus, jqXHR)
                                {
                                    //console.log(data);

                                    var select_time_html =
                                            "<h4>Set Time Interval</h4>" +
                                            "<h5>Choose the interval between &nbsp <br>"+data['min_time']+"&nbsp and &nbsp"+data['max_time']+"</h5>"+
                                            "<div class='input-group'>"+
                                            "<input type='text' class='form-control' placeholder='start time' aria-describedby='basic-addon2' id='start_time'>"+
                                            "<input type='text' class='form-control' placeholder='end time' aria-describedby='basic-addon2' id='end_time'>"+
                                            "</div>"+
                                            "<input type='button' value='submit' class='btn btn-info btn-lg' id='select_time_button' onclick='output()'>";

                                    $("#select_time").html(select_time_html);

                                }
                            }
                    );
                }

                //        $("#select_time").html(device_list_html);
                //        $(".selectpicker").selectpicker();
            };

            database_value = $(':selected', document.getElementById("DB_and_table")).parent().attr('label');
            console.log("DB:",database_value);

            table_value = document.getElementById("DB_and_table").value;
            console.log("table:",table_value);

            device_or_not_value = document.getElementById("device_or_not").value;  // true or false
            console.log("device or not value:",device_or_not_value);
            device_or_not_value=false; // pass device list stage
            if(device_or_not_value)
            {
                $.ajax
                (
                        {
                            url: "/device_list",
                            type: "POST",
                            data:
                            {
                                'database': database_value,
                                'table': table_value,
                            },
                            success: function (data, textStatus, jqXHR)
                            {
                                var device_list_html = "<h4>Select Device</h4>" + "<select class='selectpicker' id='device_or_not'>" +
                                        "<option value='true'>YES</option>" +
                                        "<option value='false'>NO</option>" +
                                        "</select>" +
                                        "<input type='button' value='submit' class='btn btn-info btn-lg' id='DB_and_table_button' onclick='deivce_or_not_function()'>";

                                $("#select_device").html(device_list_html);
                                $(".selectpicker").selectpicker();
                            }
                        }
                );
            }
            else
            {
                $("#select_time").html("<h4>Loading...</h4>");
                $.ajax
                (
                        {
                            url: "/inspect/time_points",
                            type: "POST",
                            data:
                            {
                                'database': database_value,
                                'table': table_value,
                            },
                            success: function (data, textStatus, jqXHR)
                            {
                                //console.log(data);

                                var select_time_html =
                                        "<h4>Set Time Interval</h4>" +
                                        "<h5>Choose the interval between &nbsp <br>"+data['min_time']+"&nbsp and &nbsp"+data['max_time']+"</h5>"+
                                        "<div class='input-group'>"+
                                        "<input type='text' class='form-control' placeholder='start time' aria-describedby='basic-addon2' id='start_time'>"+
                                        "<input type='text' class='form-control' placeholder='end time' aria-describedby='basic-addon2' id='end_time'>"+
                                        "</div>"+
                                        "<input type='button' value='submit' class='btn btn-info btn-lg' id='select_time_button' onclick='output()'>";

                                $("#select_time").html(select_time_html);

                            }
                        }
                );
            }

            //        $("#select_time").html(device_list_html);
            //        $(".selectpicker").selectpicker();
        }
    );


    function output()
    {
        start_time = document.getElementById("start_time").value;
        end_time = document.getElementById("end_time").value;

        var html_link = "<p>Loading...</p>";
        $("#output").html(html_link).show();

        $.ajax
        (
            {
                url: "/inspect/query",
                type: "POST",
                data:
                {
                    'database': database_value,
                    'table': table_value,
                    'start_time':start_time,
                    'end_time':end_time
                },
                success: function (results, textStatus, jqXHR)
                {
                    //console.log(results["data"]);
                    if(results["data"]!="wrong query")
                    {
                        var html_link = "<a href='/inspect/" + results["file_name"] + ".json'>Download</a>";
                        $("#output").html(html_link).show();
                    }
                    else
                    {
                        console.log("wrong")
                        var html_link = "<p>Wrong query!<br> Didn't find any data!</p>";
                        $("#output").html(html_link).show();
                    }

                }
            }
        );

    }




    $("#data_query_form").submit
    (
        function (event) {
            $.ajax(
                    {
                        url: "/inspect",
                        type: "POST",
                        data: {'query_string': $("#query_text").val()},
                        success: function (data, textStatus, jqXHR) {
//                        console.log(textStatus);
//                        console.log(jqXHR);
                            $("#go").html("<p>Output: <br>" + JSON.stringify(data, null, "<br>") + "</p>").show();
                            var file_name = ($("#query_text").val()).replace(/\//g, '_');
                            //console.log(file_name);
                            var html_link = "<a href='/inspect/" + file_name + ".json'>Download</a>";
                            $("#jsonlink").html(html_link).show();
                        }
                    }
            );
            event.preventDefault();
        }
    );

</script>

</body>
</html>
