<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                ODD Website
            </a>
        </li>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/tree_configuration_display">RethinkDB Configuration</a>
        </li>
        <li>
            <a href="/inspect">Data Query and Download</a>
        </li>
        <li>
            <a href="#">Nothing here</a>
        </li>
        <li>
            <a href="http://taiwanair.plash.tw/">TaiwanAir</a>
        </li>
        <li>
            <a href="http://www.iis.sinica.edu.tw/index_zh.html">IIS</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links for web developers <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Web Developing Tools</li>
                <li><a href="https://github.com/d3/d3/wiki/gallery">D3.js</a></li>
                <li><a href="http://www.tutorialspoint.com/nodejs/nodejs_express_framework.htm">Express.js</a></li>
                <li><a href="http://www.creativebloq.com/design-tools/data-visualization-712402">38 tools for data visualization</a></li>
                <li><a href="http://visjs.org/">vis.js</a></li>
                <li><a href="http://www.highcharts.com/">highcharts</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /#sidebar-wrapper -->